{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ entry_title }}
{% endblock %}

{% block body %}
    <h1>Edit {{ entry_title }}</h1>

    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <label class="advice">Please keep markdown language format.
        <input type="hidden" name="entry_title" value="{{ entry_title }}">
        <br>
        <textarea id="content" name="content" cols="100">{{ content }}</textarea>
        <br>
        <input type="submit" value="Save">
    </form>

{% endblock %}