{% extends "auctions/layout.html" %}

{% block body %}
    {% if active %}
    <h2>Active Listings</h2>
    {% endif %}

    {% if inactive %}
    <h2>Closed Listings</h2>
    {% endif %}

    {% if listings %}
    <ul>
        {% for listing in listings %}
        <div class="card mb-3" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="listing/{{ listing.id }}"> 
                    <img src="{{ listing.image_url }}" class="img-fluid rounded-start" alt="image">
                 </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="listing/{{ listing.id }}">{{ listing.title }}</a></h5>
                  <p class="card-text">Price: ${{ listing.initial_bid }}</p>
                  <p class="card-text">{{ listing.description }}</p>
                  <p class="card-text"><small class="text-muted">Created {{ listing.creation_date }}</small></p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
    </ul>
    {% else %}
        <p>No listings available.</p>
    {% endif %}
{% endblock %}