{% extends "auctions/layout.html" %}

{% block title %}
    Listing detail
{% endblock %}

{% block body %}
<h2>Listing: {{ listing.title }}</h2>
<div>
    {% if not message_iw %}
        <form action="{% url 'watchlist_add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input class="btn btn-secondary btn-sm" type="submit" 
            value="Watch!">
        </form>
    {% endif %}
    {% if message_iw %}
        <form action="{% url 'watchlist_del' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input class="btn btn-warning btn-sm" type="submit" 
            value="Discard!">
        </form>
    {% endif %}
</div>
<div>
    <img src="{{ listing.image_url }}" class="img-fluid rounded-start" alt="image">
    <h5>Description:</h5>
    <p>{{ listing.description }}</p>
    <h2>${{ listing.initial_bid }}</h2>
    <p><small>bid|pluralize so far. Check for current bid!</small></p>
</div>
<div>
    <form action="{% url 'new_bid' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input autofocus class="form-control" type="number" name="bid_amount" placeholder="Bid">
        </div>
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
</div>
<br>
<h3>Details</h3>
<ul>
    <li>Listed by: {{ listing.user_id }}</li>
    <li>Category: {{ listing.category_id }}</li>
</ul>
{% endblock %}