{% extends "auctions/layout.html" %}

{% block title %}
    Listing detail
{% endblock %}

{% block body %}
<h2>Listing: {{ listing.title }}</h2>
<div>
    {% if not message_iw and user_logedin %}
        <form action="{% url 'watchlist_add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input class="btn btn-secondary btn-sm" type="submit" 
            value="Watch!">
        </form>
    {% endif %}
    {% if not message_inw and user_logedin %}
        <form action="{% url 'watchlist_del' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input class="btn btn-warning btn-sm" type="submit" 
            value="Discard!">
        </form>
    {% endif %}
</div>
<div>
    <img src="{{ listing.image_url }}" class="img-fluid rounded-start" alt="image">
    <h5>Description:</h5>
    <p>{{ listing.description }}</p>
    <h5>Initial bid: ${{ listing.initial_bid }}</h5>
    <h4>Current bid: ${{ max_bid }}</h4>
    <p><small>{{ bid_count }} bid{{ bid_count|pluralize }} so far. 
        {% if max_bid_user %} Your bid is the current bid. {% endif %}
    </small></p>
    {% if max_bid_user %}
        {% if winner %}
            <h2>You have won this listing!</h2>
        {% endif %}
    {% endif %}
</div>
<div>
    {% if not is_creator or not user_logedin %}
        {% if not active %}
        <form action="{% url 'new_bid' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <input autofocus class="form-control" type="text" name="bid_amount" placeholder="Bid">
            </div>
            <input class="btn btn-primary" type="submit" value="Place Bid">
        </form>
        {% endif %}
    {% endif %}
    {% if is_creator and user_logedin %}
    <form action="{% url 'close_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
        </div>
        <input class="btn btn-danger" type="submit" value="Close listing!">
    </form>
    {% endif %}
</div>
<br>
<h4>Details</h4>
<ul>
    <li>Listed by: {{ listing.user_id }}</li>
    <li>Category: {{ listing.category_id }}</li>
</ul>
<h4>Comments:</h4>
{% for comment in comments %}
    <div class="card mb-4">
        <div class="card-body">
            <p>{{ comment.comment }}</p>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                        height="25" />
                    <p class="small mb-0 ms-2">{{ comment.user }}</p>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <p class="small text-muted mb-0">{{ comment.comment_date }}</p>
                    <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<form action="{% url 'new_comment' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="hidden" name="listing_id" value="{{ listing.id }}">
        <textarea autofocus class="form-control" type="text" name="comment" placeholder="Comment"></textarea> 
    </div>
    <input class="btn btn-warning btn-sm" type="submit" value="Post comment">
</form>
{% endblock %}